html {
    height: 100%;
}

body {
    background: -webkit-radial-gradient(transparent 10%, rgba(21, 33, 100, 0.5));
    background: -moz-radial-gradient(transparent 10%, rgba(21, 33, 100, 0.5));
    background: -o-radial-gradient(transparent 10%, rgba(21, 33, 100, 0.5));
    background-color: #456700;
    margin: 40px auto;
}